<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="src/index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- If request is not for a real file or directory, rewrite to /src/{R:0} -->
        <rule name="RewriteToSrc" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/src/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
